@model u21635618HW05.Models.BookDetsModel


<h2>
    @Model.Book.Name -
    @if (Model.Book.Status == "Book Out")
    {
        <span style="color:red">Book Out</span>
    }
    else
    {
        <span style="color:green">Book Available</span>
    }
</h2>
<hr />
<h3 style="margin-top:0px;"># Borrows - @Model.BorrowedBooks.Count()</h3>
@Html.ActionLink("View Student", "Students", new { bookId = Model.Book.ID }, new { @class = "btn btn-info", @style = "margin-top:0px;float:right;" })
<br />
<br />

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Taken Date
        </th>
        <th>
            Brought Date
        </th>
        <th>
            Borrowed By
        </th>

    </tr>

    @foreach (var item in Model.BorrowedBooks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroughtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>

        </tr>
    }

</table>