@model u21635618HW05.Models.BooksVM

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>
<hr />
@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Book Name" name="name" />
        </div>
        <div class="form-group">
            <select class="form-control" name="type">
                <option value="0">Select a Type</option>

                @foreach (var opt in Model.Types)
                {
                    <option value="@opt.ID">@opt.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="author">
                <option value="0">Select a Author</option>
                @foreach (var opt in Model.Authors)
                {
                    <option value="@opt.AuthorID">@opt.Name @opt.Surname</option>
                }
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Search" style="width:150px" class="btn btn-success form-control" />
        </div>

        <div class="form-group">

            @Html.ActionLink("Clear", "Index", "Home", new { }, new { @class = "btn btn-danger form-control", @style = "width:150px" })
        </div>


    </form>
}

<br />
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Author
        </th>
        <th>
            Type
        </th>
        <th>
            Page Count
        </th>
        <th>
            Points
        </th>

        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Types)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>

            <td>
                @if (item.Status == "Book Out")
                {
                    <span style="color:red">Book Out</span>
                }
                else
                {
                    <span style="color:green">Available</span>
                }
            </td>
            <td>
               
                @Html.ActionLink("View", "Books", new { id = item.ID }, new { @class = "btn btn-info form-control", @style = "width:70px" })
            </td>
        </tr>
    }

</table>